@tailwind base;
@tailwind components;
@tailwind utilities;

/* 橙色主题 */
.theme-orange {
  /* 主色 */
  --color-primary: 255 165 0; /* 橙色 */
  --color-secondary: 255 140 0; /* 深橙色 */

  /* 背景色 */
  --color-background-base: 255 255 255; /* 白色 */
  --color-background-primary: 255 165 0; /* 橙色 */
  --color-background-secondary: 255 140 0; /* 深橙色 */

  /* 按钮 */
  --color-button-primary: 255 165 0; /* 橙色 */
  --color-button-background-base: 255 255 255; /* 白色 */
  --color-button-background-primary: 255 165 0; /* 橙色 */
  --color-button-text-primary: 255 255 255; /* 白色 */

  /* 主文本颜色 */
  --color-text-base: 0 0 0; /* 黑色 */
  --color-text-muted: 136 136 136; /* 中灰色 */
  --color-text-inverted: 255 255 255; /* 白色 */
  --color-text-primary: 255 165 0; /* 橙色 */
  --color-text-secondary: 136 136 136; /* 中灰色 */

  /* 边框颜色 */
  --color-border-base: 0 0 0; /* 黑色 */
  --color-border-primary: 255 165 0; /* 橙色 */
  --color-border-secondary: 255 140 0; /* 深橙色 */
  --color-border-muted: 136 136 136; /* 中灰色 */
  --color-border-inverted: 255 255 255; /* 白色 */

  /* 链接颜色 */
  --color-link: 255 165 0; /* 橙色 */
  --color-link-hover: 255 140 0; /* 深橙色 */

  /* 状态色 */
  --color-error: 255 99 71; /* 番茄红 */
  --color-success: 50 205 50; /* 石灰绿 */
  --color-separator: 88 110 117; /* 深灰蓝色 */
}

/* 绿色主题 */
.theme-green {
  /* 主色 */
  --color-primary: 34 193 34; /* 草绿色 */
  --color-secondary: 18 140 18; /* 深绿 */

  /* 背景色 */
  --color-background-base: 255 255 255; /* 白色 */
  --color-background-primary: 34 193 34; /* 草绿色 */
  --color-background-secondary: 18 140 18; /* 深绿 */

  /* 按钮 */
  --color-button-primary: 34 193 34; /* 草绿色 */
  --color-button-background-base: 255 255 255; /* 白色 */
  --color-button-background-primary: 34 193 34; /* 草绿色 */
  --color-button-text-primary: 255 255 255; /* 白色 */

  /* 主文本颜色 */
  --color-text-base: 0 0 0; /* 黑色 */
  --color-text-muted: 136 136 136; /* 中灰色 */
  --color-text-inverted: 34 193 34; /* 草绿色 */
  --color-text-primary: 34 193 34; /* 草绿色 */
  --color-text-secondary: 18 140 18; /* 深绿 */

  /* 边框颜色 */
  --color-border-base: 18 140 18; /* 深绿 */
  --color-border-primary: 34 193 34; /* 草绿色 */
  --color-border-secondary: 18 140 18; /* 深绿 */
  --color-border-muted: 136 136 136; /* 中灰色 */
  --color-border-inverted: 255 255 255; /* 白色 */

  /* 链接颜色 */
  --color-link: 34 193 34; /* 草绿色 */
  --color-link-hover: 28 167 28; /* 明亮绿色 */

  /* 状态色 */
  --color-error: 255 69 58; /* 番茄红 */
  --color-success: 50 205 50; /* 石灰绿 */
  --color-separator: 120 144 156; /* 灰蓝色 */
}

/* 红色主题 */
.theme-red {
  /* 主色 */
  --color-primary: 255 0 0; /* 红色 */
  --color-secondary: 139 0 0; /* 深红 */

  /* 背景色 */
  --color-background-base: 255 255 255; /* 白色 */
  --color-background-primary: 255 0 0; /* 红色 */
  --color-background-secondary: 139 0 0; /* 深红 */

  /* 按钮 */
  --color-button-primary: 255 0 0; /* 红色 */
  --color-button-background-base: 255 255 255; /* 白色 */
  --color-button-background-primary: 255 0 0; /* 红色 */
  --color-button-text-primary: 255 255 255; /* 白色 */

  /* 主文本颜色 */
  --color-text-base: 0 0 0; /* 黑色 */
  --color-text-muted: 136 136 136; /* 中灰色 */
  --color-text-inverted: 255 0 0; /* 红色 */
  --color-text-primary: 255 0 0; /* 红色 */
  --color-text-secondary: 139 0 0; /* 深红 */

  /* 边框颜色 */
  --color-border-base: 139 0 0; /* 深红 */
  --color-border-primary: 255 0 0; /* 红色 */
  --color-border-secondary: 139 0 0; /* 深红 */
  --color-border-muted: 136 136 136; /* 中灰色 */
  --color-border-inverted: 255 255 255; /* 白色 */

  /* 链接颜色 */
  --color-link: 255 0 0; /* 红色 */
  --color-link-hover: 255 69 0; /* 橙红色 */

  /* 状态色 */
  --color-error: 255 0 0; /* 红色 */
  --color-success: 50 205 50; /* 石灰绿 */
  --color-separator: 128 0 0; /* 深红棕色 */
}

/* 白色主题 */
.theme-white {
  /* 主色 */
  --color-primary: 255 255 255; /* 白色 */
  --color-secondary: 200 200 200; /* 浅灰 */

  /* 背景色 */
  --color-background-base: 255 255 255; /* 白色 */
  --color-background-primary: 255 255 255; /* 白色 */
  --color-background-secondary: 200 200 200; /* 浅灰 */

  /* 按钮 */
  --color-button-primary: 255 255 255; /* 白色 */
  --color-button-background-base: 255 255 255; /* 白色 */
  --color-button-background-primary: 255 255 255; /* 白色 */
  --color-button-text-primary: 0 0 0; /* 黑色 */

  /* 主文本颜色 */
  --color-text-base: 0 0 0; /* 黑色 */
  --color-text-muted: 100 100 100; /* 灰色 */
  --color-text-inverted: 255 255 255; /* 白色 */
  --color-text-primary: 0 0 0; /* 黑色 */
  --color-text-secondary: 100 100 100; /* 灰色 */

  /* 边框颜色 */
  --color-border-base: 200 200 200; /* 浅灰 */
  --color-border-primary: 200 200 200; /* 浅灰 */
  --color-border-secondary: 200 200 200; /* 浅灰 */
  --color-border-muted: 100 100 100; /* 灰色 */
  --color-border-inverted: 255 255 255; /* 白色 */

  /* 链接颜色 */
  --color-link: 0 0 255; /* 蓝色 */
  --color-link-hover: 0 0 200; /* 深蓝色 */

  /* 状态色 */
  --color-error: 255 69 58; /* 番茄红 */
  --color-success: 50 205 50; /* 石灰绿 */
  --color-separator: 200 200 200; /* 浅灰 */
}
